@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    
}
/* Set body bg and margin */
body {
    background-color: #F1F1F3;
    margin: 0;
    padding: 0;
  }
  
/* Navigation section for navbar only */
nav {
    width: 1280px;
    height: 100px;
    max-width: 100%; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px; 
    box-sizing: border-box;
    background-color:white;
    margin-top: 24px;
    border-radius: 16px;
}
.counter{
    display:flex;
    justify-content:space-between;
    gap: 40px;
    align-items: center;
    text-align: center;
}
#bgChanger{
    cursor: pointer;
    background-color:#F4F7FF;
    width: 40px;
   padding:12px;
   border-radius: 100%;
}
#logo{
    width:247px;
    height: 57px;
}
.check{
    width: 32px;
    height:32px;
}
.checkboxitem{
    width: 123px;
    height: 64px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    background-color: #F4F7FF;
    border-radius: 32px;
}
#completedCounter{
  font-family: "Poppins", sans-serif;
  font-weight:800;
  font-style: normal;
  font-size:34px;
}

.banner{
    width: 1280px;
    max-width: 100%; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    height: 760px;
    box-sizing: border-box;

    margin-top: 24px;
    border-radius: 16px;
}
.item1{
    width:880px;
    padding:24px;
    border-radius: 16px;
   background-color:white;

}
.item2{
    width:280px;
    padding:24px;
    border-radius: 16px;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.task_info{
    display: flex;
    justify-content: space-between;
}
#taskAssigned{
    display:flex;
    width: 200px;
    height: 100px;
    align-items: center;
    background-color: #F4F7FF;
    border-radius: 12px;
   padding: 0px 20px;
    gap: 14px;

}
#taskAssigned img{
    width: 20px;
    height: 20px;
    padding: 18px;
    border-radius: 100px;
    background: white;
}
#taskAssigned h3{
    color: #00303C;
    font-weight: 500;
    margin-top: -30px;
    font-family: "Poppins", sans-serif;
}
#taskAssigned h1{
    font-family: "Poppins", sans-serif;
    font-weight:800;
    font-style: normal;
    font-size:34px;
    margin-top:30px;
    margin-left: -140px;
}
#discoverCard{
    cursor: pointer;
    display: flex;
    width:340px;
    height: 100px;
    padding: 0px 32px;
    gap: 20px;
    background: linear-gradient(45deg, #3752FD, #6C7FFA, #9BA8F8);
    color: white;
    border-radius: 16px;
    align-items: center;
}
#calendar{
    display:flex;
    width:160px;
    height: 100px;
    align-items: center;
    background-color: #F4F7FF;
    border-radius: 12px;
    padding: 0px 20px;
    gap: 14px;
    font-size:20px;
    font-weight:700;
    color:#00303C ;
    font-family: "Poppins", sans-serif;

}

#calendar img{
    width: 20px;
    height: 20px;
    font-weight: 600px;

}


.task-container {
    font-family: "Poppins", sans-serif;
    display: grid;
    justify-content:space-between;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:30px;
    max-width: 1000px;
}

.task-card {
    background: #F4F7FF;
    padding: 16px;
    width:240px;
    height:240px;
    border-radius: 12px;

}

.company {
    display: inline-block;
    background:white;
    color: #00303C;
    font-size: 12px;
    font-weight:500;
    padding: 4px 10px;
    border-radius: 6px;
}

h3 {
    margin-top: 8px;
    font-size: 18px;
    color: #00303C;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.task-detail {
    background:white;
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
    margin: 10px 0;
    color: #6d7679;
    margin-top: 20px;
}

.deadline {
    font-size: 14px;
    color: #5c6f8f;
    margin: 10px 0;
}

.completed {
    background: #3752FD;
    color: #fff;
    border: none;
    padding: 0px 0px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

/* .completed.light {
    background: #d9dff6;
    color: #4f46e5;
} */

.button{
    margin-top: 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.button button{
    width: 100px;
    height: 35px;
    background: #3752FD;
    color: #fff;
    border: none;
    padding: 1px 0px;
    border-radius: 8px;
    font-size: 14px;
    font-weight:400;
    cursor: pointer;
    font-family: "Poppins", sans-serif;

}


#activityLog {
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    gap: 10px;
}
#activityLog img{
    width: 24px;
    height: 24px;
}
#activityLog h3 {
    font-size: 20px;
    margin-bottom: 20px;
    
}

#logList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#logList li {
    background: #F4F7FF;
    padding: 10px 15px;
    font-family: "Poppins", sans-serif;
    border-radius: 8px;
    margin-bottom: 20px; /* Gap between messages */
    font-size:14px;
    text-align: left;
}

#clearLog {
    font-family: "Poppins", sans-serif;
    background: #3752FD;
    margin-bottom: 20px;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    
    font-size: 16px;
    transition: 0.3s;
}

#clearLog:hover {
    background: #cc0000;
}

#discoverCard h1{
    width: 160px;;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.counter button{
    font-family: "Poppins", sans-serif;
    background: #3752FD;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.hr {
    border: none;
    border-top: 1px dotted #ccc;
    margin: 20px 0;
}

.question {
    width: 1240px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
    
}
.qa{
    background-color:#F4F7FF;
    padding:20px;
    border-radius: 16px;
    margin-bottom: 10px;
}